.skillsSectionWrapper {
  background-color: #edfcdb;
  background-color: #ffdebf;
  width: 100vw;
  height: 85vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.skillsContentWrapper {
  width: 820px;
}

.skillsContentWrapper h3 {
  color: #0c6900;
  color: #a55000;
}

.skillsContent {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 24px;
}

.skillsColumn {
  /* min-width: ; */
}
