.skillsSectionWrapper {
  background-color: #ffe1bf;
  width: 100vw;
  height: 85vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.skillsContentWrapper {
  width: 820px;
}

.skillsContentWrapper h3 {
  color: #ff8d0d;
}

.skillsContent {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 24px;
}

.skillsColumn h4 {
  margin-bottom: 12px;
}

.highlighted {
  position: relative;
  z-index: 1;
  color: #fff;
}

.highlighted::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  right: -5px;
  transform: skew(-15deg);
  z-index: -1;
}

.purple::before {
  background-color: #e3caff;
}
.pink::before {
  background-color: #eb5577;
}
.green::before {
  background-color: #7bb580;
}
.blue::before {
  background-color: #769fff;
}
